<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title" size="large">Enter your email</ion-title>
    <p class="subtitle">To recieve a reset password link</p>
  </div>
 <div class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Enter your email" class="input" />
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-button class="sendBtn" expand="block" shape="round" (click)="reset()">Send</ion-button>
  </div>
  
</ion-content>
