.text-content{
    // font-size: 4em;
    // min-height: 140px;
    min-height:240px;
    padding: 19px;
    font-size: 1.2em;
    font-weight: 300;
}

.title{
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}